@metroly:registry=https://asia-northeast1-npm.pkg.dev/metroly-artifacts/metroly-npm/
//asia-northeast1-npm.pkg.dev/metroly-artifacts/metroly-npm/:email=not.valid@email.com
//asia-northeast1-npm.pkg.dev/metroly-artifacts/metroly-npm/:always-auth=true
